@import 'assets/shapes.styl'
@import 'assets/colors.styl'
.system-menu-bx
	.items-bxl
		padding 6*PX
		width 254*PX
		bbox()

/*==========  c8ce52a344f363ebe992a21e6fc89451  ==========*/
.confirm-modal-ex
	width 300*PX
	padding 1em (1em - 2*PX)
	padding-bottom 1em - (2*PX)
	bbox()

	p 
		font-size .75em
		color white
		text-shadow 0 1px 1px #2f3337
		line-height 1.25em
		text-align left
		margin-top -3px
		margin-bottom 1em + (4*PX)
		background transparent url('../icons/32х32_!.png') no-repeat left top
		background-size 1.4em

		&:first-letter
			padding-left 2em - PX

	.btn-e
		margin-right .5em - (2*PX)