
c-grey1 		= #2f3337
c-grey2 		= #525862
c-grey3 		= #6d727f
c-grey4 		= #848995
c-grey5 		= #b4b7be
c-grey6 		= #d1d2d7

c-blue1 		= #468ddc
c-blue2 		= #6ca9f0
c-blue3 		= #698dc0
c-blue4 		= #d5e4f7
c-blue5 		= #f2f6fb


c-purple 		= #c761c7
c-pink 		= #e3628d

c-red1 		= #d14d3d
c-red2 		= #e96e5f

c-orange1 	= #d68903
c-orange2 	= #ea8e39

c-yellow1 	= #ecb40e

c-green1 		= #54ab43
c-green2 		= #a6b741

c-cyan 		= #48ada3



// old one
c-yellow 		= #a6b741
c-blue-grey	= #9fb4d2
c-blue-sky 	= #468ddc
c-black-near   = #2f3337

c-input-color 	= #f5f5f5